<span class="button" style="float:right"><%= link "Profile Settings", to: Routes.user_path(@conn, :edit, @user) %></span>
<h1><%= @user.name %> (#<%= @user.id %>)</h1>
<span><i>Registered since <%= @user.inserted_at %></i></span><br><br>
<span><strong>Email:</strong> <%= @user.email %></span><br>
<span><strong>Last updated:</strong> <%= @user.updated_at %></span><br><br>
<!--<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>-->

<h1>Requests recieved</h1>
